<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
     <test name="DEMO API">
        <classes>
            <class name="TestCases.testAPI"/>
        </classes>
    </test>
    <test name="DEMO FORM">
        <classes>
            <class name="TestCases.testFORM"/>
        </classes>
    </test>
</suite>